<div class="flex-box">
  <% accounts.each do |account| %>
    <div class="card">
      <%= link_to account_path(account) do %>
        <div class="card-body">
          <h5 class="card-title"><%= account.name %></h5>
          <p class="card-text">Description: <%= account.description %></p>
          <p class="card-text">Balance: <%= account.balance %></p>
          <p class="card-text">Account Users: 
            <% account.users.each do |user|  %>
              <p class="card-text"><%= user.email %></p>
            <% end %>
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">
          <div class="card-button yellow">Edit</div>
          <div class="card-button red">Delete</div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= button_to "Create New Account", new_account_path, method: :get %>
