<% @accounts.each do |account| %>
  <%= link_to account_path(account)  do %>
    <section class="card">
      <h1><%= account.name %></h1>
      <p>Description: <%= account.description %></p>
      <p>Balance: <%= account.balance %></p>
    </section>
  <% end %>
<% end %>

<%= button_to "Create New Account", new_account_path, method: :get %>



