<h1>New Account</h1>
<% if @account.errors.any? %>
  <div class="form_error">
    <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%='Error: ' +  msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @account, url: accounts_path, method: :post, local: true do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Account Name" %><br><br>
  </div>
  <div>
    <%= f.text_area :description, placeholder: "Account Description" %><br><br>
  </div>
  <div>
    <%= f.text_area :balance, placeholder: "Account Balance" %><br><br>    
  </div>
  <div>
    <%= f.collection_select :parent_account_id, Account.all, :id, :name, prompt: 'Select an Account' %>
    <%#= f.collection_select :provider_id, Provider.order(:name),:id,:name, include_blank: true %>
  </div>

  <%#= display_parent_accounts(f) %>
  
  <%= f.submit %>
<% end %>