<h1>New Account</h1>

<%= form_with model: @account, url: accounts_path, method: :post, local: true do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Account Name" %><br><br>
  </div>
  <div>
    <%= f.text_area :description, placeholder: "Account Description" %><br><br>
  </div>
  <div>
    <%= f.text_area :balance, placeholder: "Account Balance" %><br><br>
  </div>

  <div>
    <%= f.select :parent_account_id, @parent_accounts, placeholder: "Parent Account" %><br><br>
  </div>
  <%= f.submit %>
<% end %>