<section class="show-card">
  <h1><%= @account.name %></h1>
  <p>Description: <%= @account.description %></p>
  <p>Balance: <%= @account.balance %></p>
  <%= button_to "Edit", edit_account_path(@account), :method => :get %>
  <%= button_to "Delete", @account, :method => :delete %>
</section>

<%= button_to "Account", accounts_path, :method => :get %>
